<% if flash[type].present? %>
  <div class="alert alert-<%= type %> alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span></button>
    <div class="container"><%= flash[type] %></div>
  </div>
<% end %>